<mat-toolbar class="mat-elevation-z8">
    <span>Ployeee!!</span>

    <div class="spacer"></div>
    <a mat-button matSuffix routerLink="/users">InputOutput</a>
    <a mat-button matSuffix routerLink="/subjectparent">Subject</a>
    <a mat-button matSuffix routerLink="/behaveparent">BehaviorSubject</a>
    <a mat-button matSuffix routerLink="/choice">Back to Choice</a>
    <a mat-button matSuffix routerLink="/" (click)="remove()"><mat-icon>home</mat-icon></a>
   

    <!-- <a mat-button routerLink="users">Users</a>
    <a mat-button>Users Details</a> -->

  </mat-toolbar>
