<!-- <app-home></app-home> -->
<div class="container">
    <mat-card class="dcard" *ngIf="newdata">
        <mat-card-header>
            <mat-card-subtitle><b><h1>User Details</h1><br></b> {{newdata.id | change}}</mat-card-subtitle>
            <mat-card-subtitle>User Id: {{newdata.userId}}</mat-card-subtitle>
            <mat-card-subtitle>Title: {{newdata.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{newdata.body}}</p>
        </mat-card-content>
        <mat-card-content>
            <a mat-button matSuffix routerLink="/home/employees" color="accent">Previous</a>
        </mat-card-content>
    </mat-card>
</div>
