<!-- <p>choice works!</p> -->

<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>How would you like to view the App??</h2>
        </div>
        <button class="btn btn-success pull-right" mat-raised-button color="secondary"><a routerLink="/home/employees"> With Sidenav</a></button>
        <br><br>
        <button class="btn btn-success pull-right" mat-raised-button color="secondary"><a routerLink="/myhome/users"> Without sidenav</a></button>
    </mat-card-content>
</mat-card>   
               

