$background-color_1: rgb(239, 92, 141);
$color_1:white;
$background-color_2:aliceblue;

.mat-toolbar{
    background-color: $background-color_1;
    color:$color_1;
}

.mat-sidenav,.mat-sidenav-content{
    padding:16px;
    background-color: $background-color_2;
    
}

.mat-button{
    color:$color_1;
 }
 
 .spacer{
   flex: 1 1 auto;
 }